# Contents List: Importing libraries and dataset, checking dataset specifics, remove merge column and check, group states by region,
# check Region column, create tables spending/region, create low orders exclusion flag and exclude these then export, create customer profiles,
# generate comparisons and visualizations for profiles of spending, region, age and dependents. Export final data set.

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Importing dataframe
df = pd.read_pickle(r'C:\Users\steph\OneDrive\Documents\May 2022 Instacart Basket Analysis\02 Data\Prepared Data\cust_prods_merged (4.9 pt1).pkl')

In [3]:
# Checking df specs
df.head()

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,Spending_flag,Order_frequency,Frequency_flag,STATE,Age,date_joined,n_dependants,fam_status,income,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,both

In [4]:
df.shape

(32404859, 28)

In [5]:
df.dtypes

order_id                     int32
user_id                      int32
order_number                  int8
orders_day_of_week            int8
time_of_order                 int8
days_since_prior_order     float32
product_id                   int32
add_to_cart_order            int16
reordered                     int8
product_name              category
aisle_id                     int16
department_id                 int8
prices                       int32
busiest_days              category
busiest_period_of_day     category
max_order                     int8
loyalty_flag              category
Spending                   float32
Spending_flag             category
Order_frequency            float32
Frequency_flag            category
STATE                     category
Age                          int64
date_joined               category
n_dependants                 int64
fam_status                category
income                       int64
_merge                    category
dtype: object

In [6]:
# Removing unnecessary column merge
df = df.drop('_merge', 1)

C:\Users\steph\AppData\Local\Temp\ipykernel_2528\126422336.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('_merge', 1)

In [8]:
# Verifying merge column deletion
df.head()

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,Spending,Spending_flag,Order_frequency,Frequency_flag,STATE,Age,date_joined,n_dependants,fam_status,income
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,6.367797,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,6.367797,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,6.367797,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,6.367797,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,6.367797,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423

In [14]:
# Creating a new column grouping states by region
df.loc[df['STATE'] == "Maine", 'Region'] = 'Northeast'

In [15]:
df.loc[df['STATE'] == "New Hampshire", 'Region'] = 'Northeast'

In [16]:
df.loc[df['STATE'] == "Vermont", 'Region'] = 'Northeast'

In [17]:
df.loc[df['STATE'] == "Massachusetts", 'Region'] = 'Northeast'

In [18]:
df.loc[df['STATE'] == "Rhode Island", 'Region'] = 'Northeast'

In [19]:
df.loc[df['STATE'] == "Connecticut", 'Region'] = 'Northeast'

In [20]:
df.loc[df['STATE'] == "New York", 'Region'] = 'Northeast'

In [21]:
df.loc[df['STATE'] == "Pennsylvania", 'Region'] = 'Northeast'

In [22]:
df.loc[df['STATE'] == "New Jersey", 'Region'] = 'Northeast'

In [28]:
df.loc[df['STATE'] == "Wisconsin", 'Region'] = 'Midwest'

In [29]:
df.loc[df['STATE'] == "Michigan", 'Region'] = 'Midwest'

In [30]:
df.loc[df['STATE'] == "Illinois", 'Region'] = 'Midwest'

In [31]:
df.loc[df['STATE'] == "Indiana", 'Region'] = 'Midwest'

In [32]:
df.loc[df['STATE'] == "Ohio", 'Region'] = 'Midwest'

In [33]:
df.loc[df['STATE'] == "North Dakota", 'Region'] = 'Midwest'

In [34]:
df.loc[df['STATE'] == "South Dakota", 'Region'] = 'Midwest'

In [35]:
df.loc[df['STATE'] == "Nebraska", 'Region'] = 'Midwest'

In [36]:
df.loc[df['STATE'] == "Kansas", 'Region'] = 'Midwest'

In [37]:
df.loc[df['STATE'] == "Minnesota", 'Region'] = 'Midwest'

In [38]:
df.loc[df['STATE'] == "Iowa", 'Region'] = 'Midwest'

In [39]:
df.loc[df['STATE'] == "Missouri", 'Region'] = 'Midwest'

In [40]:
df.loc[df['STATE'] == "Delaware", 'Region'] = 'South'

In [41]:
df.loc[df['STATE'] == "Maryland", 'Region'] = 'South'

In [42]:
df.loc[df['STATE'] == "District of Columbia", 'Region'] = 'South'

In [43]:
df.loc[df['STATE'] == "Virginia", 'Region'] = 'South'

In [44]:
df.loc[df['STATE'] == "West Virginia", 'Region'] = 'South'

In [45]:
df.loc[df['STATE'] == "North Carolina", 'Region'] = 'South'

In [46]:
df.loc[df['STATE'] == "South Carolina", 'Region'] = 'South'

In [47]:
df.loc[df['STATE'] == "Georgia", 'Region'] = 'South'

In [48]:
df.loc[df['STATE'] == "Florida", 'Region'] = 'South'

In [49]:
df.loc[df['STATE'] == "Kentucky", 'Region'] = 'South'

In [50]:
df.loc[df['STATE'] == "Tennessee", 'Region'] = 'South'

In [51]:
df.loc[df['STATE'] == "Mississippi", 'Region'] = 'South'

In [52]:
df.loc[df['STATE'] == "Alabama", 'Region'] = 'South'

In [53]:
df.loc[df['STATE'] == "Oklahoma", 'Region'] = 'South'

In [54]:
df.loc[df['STATE'] == "Texas", 'Region'] = 'South'

In [55]:
df.loc[df['STATE'] == "Arkansas", 'Region'] = 'South'

In [56]:
df.loc[df['STATE'] == "Louisiana", 'Region'] = 'South'

In [60]:
df.loc[df['STATE'] == "Idaho", 'Region'] = 'West'

In [61]:
df.loc[df['STATE'] == "Montana", 'Region'] = 'West'

In [62]:
df.loc[df['STATE'] == "Wyoming", 'Region'] = 'West'

In [63]:
df.loc[df['STATE'] == "Nevada", 'Region'] = 'West'

In [64]:
df.loc[df['STATE'] == "Utah", 'Region'] = 'West'

In [65]:
df.loc[df['STATE'] == "Colorado", 'Region'] = 'West'

In [66]:
df.loc[df['STATE'] == "Arizona", 'Region'] = 'West'

In [67]:
df.loc[df['STATE'] == "New Mexico", 'Region'] = 'West'

In [68]:
df.loc[df['STATE'] == "Alaska", 'Region'] = 'West'

In [69]:
df.loc[df['STATE'] == "Washington", 'Region'] = 'West'

In [70]:
df.loc[df['STATE'] == "Oregon", 'Region'] = 'West'

In [71]:
df.loc[df['STATE'] == "California", 'Region'] = 'West'

In [72]:
df.loc[df['STATE'] == "Hawaii", 'Region'] = 'West'

In [73]:
# Checking for accuracy and missing values in Region column
df.isnull().sum()

order_id                        0
user_id                         0
order_number                    0
orders_day_of_week              0
time_of_order                   0
days_since_prior_order    2076096
product_id                      0
add_to_cart_order               0
reordered                       0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
busiest_days                    0
busiest_period_of_day           0
max_order                       0
loyalty_flag                    0
Spending                        0
Spending_flag                   0
Order_frequency                 5
Frequency_flag                  0
STATE                           0
Age                             0
date_joined                     0
n_dependants                    0
fam_status                      0
income                          0
Region                          0
dtype: int64

In [75]:
df.head(5)

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,Spending_flag,Order_frequency,Frequency_flag,STATE,Age,date_joined,n_dependants,fam_status,income,Region
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Low spender,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South

In [76]:
# Creating table investigating spending habits by region
crosstab = pd.crosstab(df['Spending_flag'], df['Region'], dropna = False)

In [77]:
# Sending spending table to excel
crosstab.to_clipboard()

In [93]:
df.loc[df['max_order'] < 5, 'low_orders_flag'] = 'low orders'
df.loc[df['max_order'] >= 5, 'low_orders_flag'] = 'good orders'

In [94]:
df.head(5)

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,Order_frequency,Frequency_flag,STATE,Age,date_joined,n_dependants,fam_status,income,Region,low_orders_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South,good orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South,good orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South,good orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South,good orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,20.5,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South,good orders

In [95]:
# Creating low orders structure
low_orders = df[df['low_orders_flag'] == 'low orders']

In [97]:
# Checking value count of low orders flag and shape
df['low_orders_flag'].value_counts()

good orders    30964564
low orders      1440295
Name: low_orders_flag, dtype: int64

In [99]:
df.shape

(32404859, 29)

In [102]:
# Dropping low orders per CFO request
df.drop(df[df['low_orders_flag'] == 'low orders'].index, inplace = True)

In [103]:
# Verifying low orders removed
df.shape

(30964564, 29)

In [104]:
# Exporting df w/o low orders to prepared data
df.to_pickle(r'C:\Users\steph\OneDrive\Documents\May 2022 Instacart Basket Analysis\02 Data\Prepared Data\low_orders_removed.pkl')

In [115]:
# Checking data for profiling parameters
df.describe()

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices,max_order,Spending,Order_frequency,Age,n_dependants,income
count,3.096456e+07,3.096456e+07,3.096456e+07,3.096456e+07,3.096456e+07,2.930328e+07,3.096456e+07,3.096456e+07,3.096456e+07,3.096456e+07,3.096456e+07,3.096456e+07,3.096456e+07,3.096456e+07,3.096456e+07,3.096456e+07,3.096456e+07,3.096456e+07
mean,1.710317e+06,1.029284e+05,1.783414e+01,2.741397e+00,1.341098e+01,1.003218e+01,2.559850e+04,8.363038e+00,6.061019e-01,7.118859e+01,9.922365e+00,1.149177e+01,3.442569e+01,1.021500e+01,8.981217e+00,4.946803e+01,1.501819e+00,9.967587e+04
std,9.873785e+05,5.947061e+04,1.763442e+01,2.089254e+00,4.248845e+00,8.356732e+00,1.408096e+04,7.135399e+00,4.886127e-01,3.822194e+01,6.282441e+00,4.913481e+02,2.489504e+01,7.988674e+01,6.507568e+00,1.848528e+01,1.118896e+00,4.314187e+04
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00,1.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,2.590300e+04
25%,8.554120e+05,5.140900e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354400e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.000000e+00,1.400000e+01,7.392889e+00,6.000000e+00,3.300000e+01,1.000000e+00,6.729200e+04
50%,1.710404e+06,1.025860e+05,1.200000e+01,3.000000e+00,1.300000e+01,7.000000e+00,2.528800e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.000000e+00,2.800000e+01,7.825143e+00,7.000000e+00,4.900000e+01,2.000000e+00,9.676500e+04
75%,2.565206e+06,1.543870e+05,2.500000e+01,5.000000e+00,1.600000e+01,1.400000e+01,3.794700e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.100000e+01,4.800000e+01,8.249597e+00,1.250000e+01,6.500000e+01,3.000000e+00,1.281020e+05
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,9.999900e+04,9.900000e+01,1.500694e+04,3.000000e+01,8.100000e+01,3.000000e+00,5.939010e+05

In [118]:
df['Age'].value_counts(dropna = False)

79    508337
49    507879
48    506730
31    506218
64    504832
       ...
60    461897
36    460649
66    454604
41    451269
25    449324
Name: Age, Length: 64, dtype: int64

In [119]:
df['income'].value_counts(dropna = False)

72344     4395
112610    4242
57501     4136
115620    3831
36163     3657
          ...
47901        5
90002        5
33040        5
35538        5
147660       2
Name: income, Length: 96069, dtype: int64

In [120]:
df['department_id'].value_counts(dropna = False)

4     9079273
16    5177182
19    2766406
7     2571901
1     2121731
13    1782705
3     1120828
15    1012074
20    1003834
9      822136
17     699857
12     674781
14     670850
11     424306
18     410392
6      255991
5      144627
8       93060
21      64768
2       34411
10      33451
Name: department_id, dtype: int64

In [121]:
df['n_dependants'].value_counts(dropna = False)

3    7772516
0    7739681
2    7733261
1    7719106
Name: n_dependants, dtype: int64

In [123]:
df['orders_day_of_week'].value_counts(dropna = False)

0    5908610
1    5411686
6    4291304
5    4033729
2    4024706
3    3669535
4    3624994
Name: orders_day_of_week, dtype: int64

In [125]:
df['time_of_order'].value_counts(dropna = False)

10    2649744
11    2614880
14    2567903
13    2539276
15    2535966
12    2495795
16    2413681
9     2363611
17    1982345
8     1659110
18    1551184
19    1193878
20     930909
7      863213
21     763111
22     607060
23     384554
6      281013
0      208042
1      109621
5       84418
2       65691
4       50763
3       48796
Name: time_of_order, dtype: int64

In [126]:
# Creating profile parameters
df.loc[df['Age'] < 35, 'age_group'] = 'Young Adult'

In [127]:
df.loc[(df['Age'] > 35) & (df['Age'] < 60), 'age_group'] = 'Adult'

In [128]:
df.loc[df['Age'] > 60, 'age_group'] = 'Mature Adult'

In [129]:
# Checking new age group column
df.head(5)

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,Frequency_flag,STATE,Age,date_joined,n_dependants,fam_status,income,Region,low_orders_flag,age_group
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South,good orders,Young Adult
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South,good orders,Young Adult
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South,good orders,Young Adult
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South,good orders,Young Adult
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Non-frequent customer,Alabama,31,2/17/2019,3,married,40423,South,good orders,Young Adult

In [130]:
# Creating profile parameters
df.loc[df['income'] < 50000, 'income_group'] = 'Lower Income'

In [131]:
df.loc[(df['income'] > 50000) & (df['income'] < 75000), 'income_group'] = 'Mid Income'

In [132]:
df.loc[df['income'] > 75000, 'income_group'] = 'Higher Income'

In [133]:
# Checking new income group column
df.head(5)

,order_id,user_id,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,STATE,Age,date_joined,n_dependants,fam_status,income,Region,low_orders_flag,age_group,income_group
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Alabama,31,2/17/2019,3,married,40423,South,good orders,Young Adult,Lower Income
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Alabama,31,2/17/2019,3,married,40423,South,good orders,Young Adult,Lower Income
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Alabama,31,2/17/2019,3,married,40423,South,good orders,Young Adult,Lower Income
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Alabama,31,2/17/2019,3,married,40423,South,good orders,Young Adult,Lower Income
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Alabama,31,2/17/2019,3,married,40423,South,good orders,Young Adult,Lower Income

In [135]:
# Creating table investigating spending habits by age_group
crosstab = pd.crosstab(df['Spending_flag'], df['age_group'], dropna = False)

In [136]:
# Sending spending table to excel
crosstab.to_clipboard()

In [139]:
# Creating table investigating income group by age group
crosstab = pd.crosstab(df['age_group'], df['income_group'], dropna = False)

In [140]:
# Sending age/income table to excel
crosstab.to_clipboard()

In [141]:
# Creating table investigating number of dependants by age_group
crosstab = pd.crosstab(df['age_group'], df['n_dependants'], dropna = False)

In [142]:
# Sending age/income table to excel
crosstab.to_clipboard()

In [143]:
# Creating table investigating department usage by age group
crosstab = pd.crosstab(df['age_group'], df['department_id'], dropna = False)

In [144]:
# Sending age/income table to excel
crosstab.to_clipboard()

In [147]:
# Creating table investigating department usage by age group
crosstab = pd.crosstab(df['age_group'], df['Region'], dropna = False)

In [148]:
# Sending age/income table to excel
crosstab.to_clipboard()

In [150]:
# aggregating statistics of spending by age group
df.groupby('age_group').agg({'Order_frequency': ['mean', 'min', 'max']})

             Order_frequency
                        mean  min   max
age_group
Adult               9.955354  0.0  30.0
Mature Adult        9.941589  0.0  30.0
Young Adult         9.959362  0.0  30.0

In [152]:
# aggregating statistics of spending by age group
df.groupby('age_group').agg({'Spending': ['mean', 'min', 'max']})

               Spending
                   mean       min           max
age_group
Adult         12.010174  1.000000  15006.940430
Mature Adult  11.806149  1.262500  14042.512695
Young Adult   12.133971  1.628572  10209.987305

In [153]:
# Exporting df to file
df.to_pickle(r'C:\Users\steph\OneDrive\Documents\May 2022 Instacart Basket Analysis\02 Data\Prepared Data\4.10 pt 1 final.pkl')