In [ ]:
# Contents: Import libraries and dataset, create a sub set and check, define and create price_label column and check, create price flag and check,
# create busiest day column and check, import libraries and dataset, change data types, create busiest period of day column and 
# check, export data.

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Importing Data orders_products_combined
df_orders_products_combined = pd.read_pickle(r'C:\Users\steph\OneDrive\Documents\May 2022 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

In [4]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [5]:
# Creatomg a sub set of orders_products_combined
df = df_orders_products_combined[:1000000]

In [10]:
df.shape

(1000000, 16)

In [6]:
# Defining price flag for products
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
# Applying price flag to df
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\steph\AppData\Local\Temp\ipykernel_18128\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [8]:
# Checking results of price flag
df.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product

In [11]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [12]:
df['prices'].max()

14.8

In [14]:
# Defining flag with loc()function
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\steph\AppData\Local\Temp\ipykernel_18128\4023559688.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [15]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [17]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [19]:
df_orders_products_combined.loc[df_orders_products_combined['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [20]:
df_orders_products_combined.loc[(df_orders_products_combined['prices'] <= 15) & (df_orders_products_combined['prices'] >5), 'price_range_loc'] = 'Mid-range product'

In [21]:
df_orders_products_combined.loc[df_orders_products_combined['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [22]:
# Checking results of price flag w loc
df_orders_products_combined['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [26]:
# Creating column for ranking days by orders by categories busiest, least busy and regularly busy
result = []

In [28]:
for value in df_orders_products_combined["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [31]:
# Checking results of new column busiest day
df_orders_products_combined['busiest_day'] = result

In [32]:
df_orders_products_combined['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [42]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy

In [44]:
# Get Frequency count of values in cloumn 'busiest_day'
frequency = df_orders_products_combined['busiest_day'].value_counts()

In [47]:
print (frequency)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [54]:
result = []

In [3]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [5]:
# Importing Data orders_products_combined
df_orders_products_combined = pd.read_pickle(r'C:\Users\steph\OneDrive\Documents\May 2022 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

In [14]:
## downcasting loop
for column in df_orders_products_combined:
 if df_orders_products_combined[column].dtype == 'float64':
     df_orders_products_combined[column]=pd.to_numeric(df_orders_products_combined[column], downcast='float')
 if df_orders_products_combined[column].dtype == 'int64':
     df_orders_products_combined[column]=pd.to_numeric(df_orders_products_combined[column], downcast='integer')

In [15]:
# Creating new column busiest days per client of 2 day values for each for busiest and least labels named busiest_days
result = []

In [16]:
for value in df_orders_products_combined['orders_day_of_week']:
 if value == 0:
    result.append('Busiest Days')
 elif value == 1:
    result.append('Busiest Days')
 elif value == 2:
    result.append('Regularly Busy')
 elif value == 3:
    result.append('Least Busy')
 elif value == 4:
    result.append('Least Busy')
 elif value == 5:
    result.append('Regularly Busy')
 elif value == 6:
    result.append('Regularly Busy')
 else:
    result.append('Not Indicated')

In [17]:
df_orders_products_combined['busiest_days'] = result

In [18]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Regularly Busy
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Least Busy
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Least Busy
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Least Busy
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Least Busy

In [20]:
# Get Frequency count of values in cloumn 'busiest_days'
frequency = df_orders_products_combined['busiest_days'].value_counts()

In [21]:
print (frequency)

Regularly Busy    12916111
Busiest Days      11864412
Least Busy         7624336
Name: busiest_days, dtype: int64

I can see that my new column didn't get downcasted!

In [22]:
# Get frequency count of values in time_of_order column
frequency = df_orders_products_combined['time_of_order'].value_counts()

In [23]:
print (frequency)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: time_of_order, dtype: int64

In [33]:
# Creating new column of busiest_period_of_day to rank time of orders by most, average, and fewest
result = []

In [34]:
for value in df_orders_products_combined['time_of_order']:
 if value == 10:
    result.append('Most Orders')
 elif value == 11:
    result.append('Most Orders')
 elif value == 14:
    result.append('Most Orders')
 elif value == 15:
    result.append('Most Orders')
 elif value == 13:
    result.append('Most Orders')
 elif value == 12:
    result.append('Most Orders')
 elif value == 16:
    result.append('Most Orders')
 elif value == 9:
    result.append('Most Orders')
 elif value == 17:
    result.append('Average Orders')
 elif value == 8:
    result.append('Average Orders')
 elif value == 18:
    result.append('Average Orders')
 elif value == 19:
    result.append('Average Orders')
 elif value == 20:
    result.append('Average Orders')
 elif value == 7:
    result.append('Average Orders')
 elif value == 21:
    result.append('Average Orders')
 elif value == 22:
    result.append('Average Orders')
 elif value == 23:
    result.append('Fewest Orders')
 elif value == 6:
    result.append('Fewest Orders')
 elif value == 0:
    result.append('Fewest Orders')
 elif value == 1:
    result.append('Fewest Orders')
 elif value == 5:
    result.append('Fewest Orders')
 elif value == 2:
    result.append('Fewest Orders')
 elif value == 3:
    result.append('Fewest Orders')
 elif value == 4:
    result.append('Fewest Orders')    
 else:
    result.append('Not Indicated')

In [35]:
df_orders_products_combined['busiest_period_of_day'] = result

In [36]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Regularly Busy,Average Orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Least Busy,Average Orders
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Least Busy,Most Orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Least Busy,Average Orders
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Least Busy,Most Orders

In [37]:
# Get frequency count of values in time_of_order column
frequency = df_orders_products_combined['busiest_period_of_day'].value_counts()

In [38]:
print(frequency)

Most Orders       21118071
Average Orders     9997651
Fewest Orders      1289137
Name: busiest_period_of_day, dtype: int64

In [39]:
df_orders_products_combined.to_pickle(r'C:\Users\steph\OneDrive\Documents\May 2022 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_derived.pkl')